<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Itenaries</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/itenaries.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Travel Bar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/trips">Trips</a>
            <a class="nav-link" href="/reviews">Reviews</a>
            <a class="nav-link" href="/itenaries">Itenaries</a>
          </div>
        </div>
      </div>
    </nav>
    
    <h1>Itenaries</h1>
  <div class="grid">
    <% itenariesData.forEach(activity => { %>
      <div class="card">
        <h2><%= activity.name %></h2>
        <p class="location"><%= activity.location %></p>
        <p><strong>Duration:</strong> <%= activity.duration %></p>
        <p><%= activity.description %></p>
      </div>
    <% }) %>
  </div>
</body>
</html>